/* Global */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    background-color: #f4f4f4;
}


.container {
    width:80%;
    margin:auto;
    overflow:hidden;
}

/* Header */
header {
   
    background:#35424a;
    color:#fff;
    padding-top:3rem;
    min-height: 7rem;
    border-bottom:.3rem solid #e8491d;
}
header a {
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size:1.2rem;
}
header li {
    float:left;
    display:inline;
    padding:0 2rem 0 2rem;
}
header #branding {
    float:left;

}
header nav {
    float:right;
    margin-top:.7rem;
}
header strong,
header .current a{
    color:#e8491d;
    font-weight: bold;
}
header a {
    transition:all .5s;
}
header a:hover {
    color:#ccc;
    font-weight: bold;
    line-height: 2;
    font-size:1.3rem;
}

/* Showcase */

#showcase {
    display:flex;
    background-image: url("img/showcase.jpg");
    height:75vh;
    color:#fff;
}
#showcase h1 {
    font-size:3rem;
    line-height: 2.3;
    word-spacing: 2;
    text-align: center;
}
#showcase p {
    font-size:1.2rem;
    text-align: center;
}

/* Newsletter */

#newsletter {
    height: 15vh;
    background-color:#35424a;
    color:#fff;
    display:flex;
}
#newsletter .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}